#*.meta
*~
SS/
SS.meta
Ground_textures_pack/
!Ground_textures_pack/Dry ground
!Ground_textures_pack/Grass & rocks
Temp
Library
Necronaut.csproj
Assets/Plugins/FPS*
Assets/Plugins/Particles/
Assets/Plugins/DB Upgrades_Store/Store/Images/buy.png
Assets/Standard Assets/Particles/Sources/Textures/SteamBlur.png
Necronaut.csproj
Necronaut.Editor.csproj
.vs/Necronaut/v14/.suo
.suo
AmplifyShaderEditor/
Necronaut.Editor.Plugins.csproj
Necronaut.Plugins.csproj
Necronaut.sln
Assets/AmplifyShaderEditor.meta
Assets/_Project/Particles.meta
Assets/_Project/Scenes/mainmenu_live.unity
Assets/_Project/Unity UI.meta
